/* Dropdown Menu */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
  margin-left: -25px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* firebaseUI */
.firebaseui-idp-list {
  width: 100%;
}

/* firebaseUI Group Button */
.group-firebase-button {
  justify-content: center;
  margin-top: 20px;
  margin-left: 35%;
  margin-right: 35%;
  text-align: center;
  width: 30%;
  background-color: darkcyan;
  box-shadow: 5px 10px rgb(82, 82, 82);
}